version: '3.1'

services:
  postgres:
    image: postgres:latest
    restart: on-failure
    ports:
      - "${POSTGRES_INGRESS:-5432}:5432"
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: "codegen_dev"
      POSTGRES_PASSWORD: "postgres"

  data:
    build: 
      context: src/python/dataserv
    ports:
      - "${DATASERV_INGRESS:-8080}:8080"
    volumes:
      - "./data:/data"
